  <div class="row" style="padding-top: 30%;">
      <section class="col-md-12 col-sm-12 col-xs-12">
        <div class="col-md-6" style="text-align: left">
          <a href="#igcoord"><button id="diag" style="width: 60%; height: 40px; background-color: #226070; color: #00ff97; border-radius: 15px">
          Les interventions globales et coordonneées
          </button></a>
        </div>
        <div class="col-md-6" style="text-align: left">
          <a href="#igcoord"><button id="dieg" style="width: 60%; height: 40px; background-color: #226070; color: #00ff97; border-radius: 15px">Définir les Troubles du Spectre Autistique
          </button></a>
        </section>
  </div>
<!--<paper-button>flat button</paper-button>-->
<div class="row">
<div class="col-md-6 col-lg-6 col-xs-6 col-sm-6">
<parkour-selector></parkour-selector>
</div>
</br></br></br></br>
<div class="pre-scrollable" id="igcoord" style="left: 50%">
</div>
</div>




<!-- end main -->

