body a:hover {
    background-color: transparent;
}
html body a:visited {
    color: #226070;
}
.sout {
    background-color: white !important;
    border-color: #00ff97 !important;
    border-width: 2px !important;
    color: #000080 !important;
}

.hitch {
    padding-left: 2em;
    font-size: 2em;
    border-radius: 3em;
    height: 11em;
    
    color: #000080;
    background-color: #226070;
}
body .navbar-ct-green
{
    background-color: #226070;
}
#navbar .navbar-transparent
{
    background-color: transparent;
}
div .hitchbutton {
    outline: none;
    width: 12vh;
    height: 12vh;
    margin-top: 2vh;
    margin-bottom: 15px;
    border-radius: 15vh !important; 
    background-color: white;
    vertical-align: 5.5vh;
    border-color: white;
    border-style: solid;
}
.hitchbuttontwo {
    margin-top: 2vh;
    vertical-align: 3vh;
    margin-left: 25px;
    outline: none;
    width: 12vh;
    height: 12vh; 
    margin-bottom: 15px;
    border-radius: 15vh !important; 
    background-color: #226070;
    border-width: 3vh;
    border-color: white;
    border-style: solid;
}
.hitchbuttonthree {
    margin-top: 2vh;
    margin-left: 25px;
    vertical-align: 5vh;
    outline: none;
    width: 12vh;
    height: 12vh; 
    border-radius: 15vh !important; 
    background-color: #226070;
    border-width: 1vh;
    border-color: white;
    border-style: solid;
}
.hitchtext {
    padding-top: 12vh;
    font-size: 20px;
}
.hitchtexttwo {
    padding-top: 12vh;
    font-size: 20px;
}
.hitchtextthree {
    padding-top: 12vh;
    font-size: 20px;
}
.dboard {
    padding-top: 10em !important;
}